doctype html
html(lang="en")
 title Landing page
 body
  h1 "The Future is going to be awesome!"
  p dummy Meggings shabby chic cliche, mixtape gastropub meh chia brooklyn forage fingerstache crucifix irony put a bird on it yuccie before they sold out.
